<!DOCTYPE html>
<html ng-app="projectRtc">
  <head>
    <title><%= title %></title>

	<script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>
  	<h1>WebRtc Server</h1>
  </body>
</html>